<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Dojo Survey</h1>
        <form action="/process" method="post">
            <label for="full-name">Name:</label>
            <input type="text" name="fname" id="full-name">
            <label for="location">Dojo Location:</label>
            <select name="location" id="location">
                <option value="">-- Select a Location --</option>
                <option value="Chicago">Chicago</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
                <option value="Burbank">Burbank</option>
                <option value="Bellevue">Bellevue</option>
            </select>
            <label for="language">Favorite Language:</label>
            <select name="language" id="language">
                <option value="">-- Select a Language --</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
            <label for="comment">Comments:</label>
            <textarea name="comment" id="comment"></textarea>
            <input type="submit" value="Submit" class="submit-btn">
        </form>
    </div>
</body>
</html>